# Ignorar archivos sensibles
.env

# Ignorar dependencias de Node.js
node_modules/
package-lock.json

# Ignorar archivos de configuración local de PHP
vendor/
composer.lock

# Ignorar archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de Visual Studio Code
.vscode/

# Ignorar datos o logs generados durante el desarrollo
*.log
logs/
data/*.tmp

# Ignorar archivos binarios o compilados
*.exe
*.dll
*.so
*.class

# Ignorar archivos de caché
.cache/